@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

:root {
  --darkest-text: #1a2130;
  --dark-text: #2c3853;
  --light-gray: #62626264;
  --bright-color: #efefef;
  --secondary-color: #d3c69f;
  --background-color: #83b4ff;

  --night-background: #0a2041;
  --night-text: #5679ac;
  --night-text-dark: #141a22;
  --night-gray: #ececec19;
}

.quicksand-semibold {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: linear-gradient(to top, #e2ffe3, var(--background-color));
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

#main-container {
  display: flex;
  overflow: auto;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 900;
  color: var(--darkest-text);
  padding: 30px;
  font-size: 3rem;
}

.location-container {
  padding: 10px 10px;
  display: flex;
  align-items: center;
  width: 30%;
  gap: 5px;
  grid-column: 2;
}

.location-input {
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--dark-text);
  padding: 3px 15px;
  background-color: var(--bright-color);
  box-shadow: 1px 1px 3px rgba(27, 27, 27, 0.232);
  width: 100%;
  border: none;
  border-radius: 10px;
  height: 2rem;
}

.submitBtn {
  border: none;
  background-color: var(--bright-color);
  box-shadow: 1px 1px 3px rgba(27, 27, 27, 0.232);
  padding: 8px;
  border-radius: 50%;
}

.submitBtn:hover {
  border: none;
  background-color: var(--background-color);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.degrees-container {
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5px;
  grid-column: 3;
}

.farenheit-btn,
.celsius-btn {
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: var(--light-gray);
  border: none;
  padding: 10px;
}

.active {
  color: var(--dark-text);
  transition: 0.3s;
}

.metric-toggle {
  width: 40px;
  height: 20px;
  background-color: var(--bright-color);
  display: block;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

.circle {
  position: absolute;
  left: 0px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 4px;
  background-color: var(--background-color);
  transition: 0.3s;
}

input[type="checkbox"] {
  display: none;
}

::placeholder {
  opacity: 0.3;
}

.weather-container {
  width: 50%;
  min-width: 475px;
  margin-top: 50px;
  margin-bottom: 10%;
  padding: 50px;
  border-radius: 3rem;
  background-color: rgba(255, 255, 255, 0.232);
  box-shadow: 1px 1px 13px rgba(27, 27, 27, 0.056);
  font-family: "Quicksand";
  color: var(--dark-text);
  display: grid;
  grid-template-rows: 1fr 3fr;
}

.location-info-container {
  display: flex;
  flex-direction: column;
}

.location-header {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

.location-country {
  margin: 0;
  font-size: 0.9rem;
}

.conditions-container {
  margin: 0;
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 20px;
}

.conditions-container p {
  margin: 0;
}

.temp-text {
  font-size: 3rem;
  font-weight: 700;
}

.conditions-text-container {
  text-align: center;
  font-size: 2rem;
}

.max-min-temp-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.max-min-temp {
  font-size: 1rem;
  font-weight: 500;
  padding-top: 12px;
}

.conditions-details-container {
  font-size: 0.85rem;
  display: flex;
  line-height: 2rem;
  justify-items: end;
}

.conditions-details-data {
  font-size: 0.9rem;
  font-weight: 600;
  text-align: right;
}

.forecast-container {
  margin-top: 20px;
  padding: 10px;
  background-color: #1a213015;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}

.forecast-date,
.forecast-condition {
  font-size: 0.7rem;
  font-weight: 600;
}

.forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forecast-icon {
  width: 40px;
}

.forecast-temp {
  font-weight: 600;
}

/* Night Mode */

body.night-mode {
  background: linear-gradient(to top, #000000, #151c28);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

header.night-mode {
  color: var(--night-text);
}

.location-input.night-mode {
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--night-text);
  padding: 3px 15px;
  background-color: var(--night-gray);
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.288);
  width: 100%;
  border: none;
  border-radius: 10px;
  height: 2rem;
}

.submitBtn.night-mode {
  border: none;
  background-color: var(--night-gray);
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.288);
  padding: 8px;
  border-radius: 50%;
}

.submitBtn.night-mode:hover {
  border: none;
  background-color: var(--night-text);
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.288);
  padding: 8px;
  border-radius: 50%;
}

.farenheit-btn.night-mode,
.celsius-btn.night-mode {
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: var(--night-gray);
  border: none;
  padding: 10px;
}

.active.night-mode {
  color: var(--night-text);
  transition: 0.3s;
}

.metric-toggle.night-mode {
  width: 40px;
  height: 20px;
  background-color: var(--night-gray);
  display: block;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

.circle.night-mode {
  position: absolute;
  left: 0px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 4px;
  background-color: var(--background-color);
  transition: 0.3s;
}

.weather-container.night-mode {
  width: 50%;
  min-width: 475px;
  margin-top: 50px;
  padding: 50px;
  border-radius: 3rem;
  background-color: var(--night-gray);
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.104);
  font-family: "Quicksand";
  color: var(--night-text);
  display: grid;
  grid-template-rows: 1fr 3fr;
}
